<%= form_with scope: :repo, url: visuals_path, local: true do |form| %>
  <p>
    <%= form.label "Github Username" %><br>
    <%= form.text_field :username %>
  </p>

  <p>
    <%= form.label "Password" %><br>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.label "Repository Name" %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
